<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>its working</title>
  </head>
  <body>
  <form action="/login" method="POST">
      <label>Name</label>
      <input type="text" placeholder="Name" name="username">
      <label>Password</label>
      <input type="text" placeholder="Password" name="password">
      <button type="submit">OK</button>
  </form
  </body>
</html>